<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
</head>
<body>
    <!-- Our pink navigator bar for users to navigate through different pages-->
    <div class="navbar">
        <a href="{{ url_for('homepage') }}" class="navbar-item special">Home</a>
        <a href="{{ url_for('account') }}" class="navbar-item special">Account</a>
        <a href="{{ url_for('wordify') }}" class="navbar-item special">Wordify</a>
        <a href="{{ url_for('contact') }}" class="navbar-item special">Contact</a>
    </div>

    <!-- Contact Section information of the creators -->
    <div class="contact-container">
        <h1>Contact Us</h1>
        <div class="contact-info">
            <p>If you have any questions, feel free to reach out to the team:</p>
            <ul>
                <li><a href="mailto:AAguilar@clarku.edu">AAguilar@clarku.edu</a>, <a href="mailto:akaguilar2022@gmail.com">akaguilar2022@gmail.com</a></li>
                <li><a href="mailto:STalerico@clarku.edu">STalerico@clarku.edu</a>, <a href="mailto:sarina.talerico06@gmail.com">sarina.talerico06@gmail.com</a></li>
                <li><a href="mailto:RYoftahe@clarku.edu">RYoftahe@clarku.edu</a>, <a href="mailto:rahiyofti@gmail.com">rahiyofti@gmail.com</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
